@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Monoton&display=swap");

/* * {
  border: 1px solid hotpink;
} */

/* <--------- Global styles ---------> */

body {
  margin: 20px;
}

#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #581845;
}

a:hover {
  opacity: 0.5;
}

/* <--------- Shared styles ---------> */

.home,
.create,
.blog-details {
  padding: 0px 20px;
}

.blog-details h2,
.create h2,
.home h2 {
  font-family: "Lato", sans-serif;
  color: #900c3f;
}

/* <--------- Header styles ---------> */

.header {
  display: flex;
  justify-content: space-between;
  width: 848px;
  margin: 10px 0px 40px;
  align-items: center;
}

.header h1 {
  color: #c70039;
  font-family: "Monoton", cursive;
  font-size: 53pt;
  font-weight: 400;
  margin: 0px;
}

.header li {
  font-family: "Lato", sans-serif;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

/* <--------- Blog List styles ---------> */

.blog-list {
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 10px;
}

/* <--------- Blog styles ---------> */

.blog-preview {
  font-family: "Lato", sans-serif;
}

.blog-preview:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* <--------- Blog Details styles ---------> */

.blog-details {
  width: 800px;
  color: #581845;
  font-family: "Lato", sans-serif;
}

.delete {
  display: flex;
  justify-content: center;
  width: 800px;
}
/* <--------- Create styles ---------> */

input {
  width: 400px;
}

textarea {
  width: 600px;
  height: 300px;
}

.create {
  font-family: "Lato", sans-serif;
}

.form-section {
  margin: 10px 0px;
}

/* <--------- Home styles ---------> */

.home h2 {
  margin-top: 30px;
}

/* <--------- Button styles ---------> */

.btn {
  background-color: #581845;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  border: 0px;
  border-radius: 4px;
  height: 30px;
  width: 100px;
}

.btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.delete-btn {
  margin-top: 100px;
}

.submit-btn {
  margin-top: 10px;
}

.show-more-btn {
  width: 120px;
}

.back-to-top-btn {
  width: 130px;
}
